.img1{
    height: 400px;
    width: 400px;
    border-radius: 50%;
    align-items: center;
}


.test1{
    order: 2;
    text-align: center;
}
.propos{
    background: -webkit-linear-gradient(rgb(43, 95, 138), #cacbd9);
    -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}





@media screen and(max-width:768){
    /* .test1{
        order: 2;
        text-align: center;
    } */
    .img1{
        border-radius: 50%;
    }
    
}